<table border="0" cellspacing="0" cellpadding="0" class="index_table index">
  <thead>
    <tr>
      <th class="col">Person</th>
      <th class="col">Roles</th>
    </tr>
  </thead>

  <tbody>
    <% contributors.each_with_index do |(admin_user, data), idx| %>
      <tr class="<%= idx.even? ? "even" : "odd" %>">
        <td class="col">
          <%= link_to admin_user.email, admin_admin_user_path(admin_user) %>
        </td>

        <td class="col">
          <% if data[:roles].any? %>
            <% roles = data[:roles].map { |r| r[:name].to_s }.uniq %>
            <% roles.each do |role| %>
              <% pill_class = case role
                when "project_lead" then "project_lead"
                when "creative_lead" then "creative_lead"
                when "technical_lead" then "technical_lead"
                when "project_safety_representative" then "project_safety_representative"
                else "contributor"
                end %>
              <span class="pill <%= pill_class %>" style="margin-right: 4px;"><%= role.to_s.humanize %></span>
            <% end %>
          <% else %>
            <span class="pill contributor">Contributor</span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>