<div class="dashboard-modules table index_table index">
  <div class="dashboard-module">
    <div class="module-header">
      <p>Utilization Data</p>
    </div>
    <div class="module-body">
      <canvas id="hourly-data"></canvas>
    </div>
  </div>
</div>

<script>
  new Chart(document.getElementById('hourly-data'), {
    type: 'line',
    data: <%= hourly_data.to_json.html_safe %>,
    options: {
      tension: 0.3,
      scales: {
        y: {
          type: 'linear',
          display: true,
          position: 'left',
        },
        y1: {
          type: 'linear',
          display: true,
          position: 'right',
          grid: {
            drawOnChartArea: false, // only want the grid lines for one axis to show up
          },
        }
      }
    }
  })
</script>
