<div class="dashboard-modules table index_table index">
  <div class="dashboard-module">
    <div class="module-header">
      <p>Sellable Hours Projected by EOY</p>
    </div>
    <div class="module-body">
    </div>
  </div>
</div>
