<div class="dashboard-modules table index_table index">
  <div class="dashboard-module">
    <div class="module-header">
      <p>4 Day Simulator</p>
    </div>
    <div class="module-body">
      <canvas id="simulator-graph"></canvas>
    </div>
  </div>
</div>

<script>
  new Chart(document.getElementById('simulator-graph'), {
    type: 'line',
    data: <%= simulator_data.to_json.html_safe %>,
    options: {
      tension: 0.3,
      scales: {
        y: {
          type: 'linear',
          display: true,
          position: 'left',
          beginAtZero: true
        }
      }
    }
  })
</script>
