<div class="skill_tree_hint">
  <p style="margin-bottom: 20px;">This review is now finalized! Please give this URL to a payroll admin, who'll go ahead and update your salary as per this outcome.</p>
  <a target="_blank" rel="noreferrer" href="https://www.notion.so/garden3d/Conducting-a-Skill-Tree-review-using-Stacks-3bb041a0cfe84e4d899707901374a001#9827fcde2b9d4349b76739af05c031fa">How to get your salary adjusted after a finalization ↗</a>
</div>