<p id="dei_notice" class="nag" style="margin-bottom: 20px;">
💡You can add more <%= link_to "Racial Backgrounds", admin_racial_backgrounds_path() %>, <%= link_to "Cultural Backgrounds", admin_cultural_backgrounds_path() %>, <%= link_to "Gender Identities", admin_gender_identities_path() %> & <%= link_to "Communities", admin_communities_path() %> if you don't feel properly represented by the below options. Selecting communities is optional.
</p>
