<div class="title_bar" id="title_bar" style="padding: 80px 0px 20px 0px;">
  <div id="titlebar_left">
    <h2 id="page_title">
      COGS Explorer
    </h2>
  </div>
</div>

<table border="0" cellspacing="0" cellpadding="0" class="index_table index">
  <thead>
    <tr>
      <th class="col">Date</th>
      <th class="col">Daily Cost of Employment</th>
      <th class="col text-right">Hours Sold</th>
    </tr>
  </thead>

  <tbody>
    <tr class="even">
      <td class="col">
        <strong>Weighted Average & Total Hours Billed</strong>
      </td>
      <td class="col">
        hi
      </td>
      <td class="col text-right">
       hi
      </td>
    </tr>
  </tbody>
</table>