<div class="dashboard-modules table index_table index">
  <div class="dashboard-module">
    <div class="module-header">
      <p>Profitability (%)</p>
      <p><a href="?profitability-time-span=3-months">3 Months</a></p>
      <p><a href="?profitability-time-span=6-months">6 Months</a></p>
      <p><a href="?profitability-time-span=all-time">All Time</a></p>
    </div>
    <div class="module-body">
      <canvas id="profitability-chart" width="500" height="500"></canvas>
    </div>
  </div>
</div>

<script>
  new Chart(document.getElementById('profitability-chart'), {
    type: 'line',
    data: <%= data.to_json.html_safe %>,
    options: {
      tension: 0.3,
      showLines: true,
      scales: {
        yAxes: {
          ticks: {
            min: -100,
            max: 100,
            stepSize: 20,
            callback: function (value) {
              return (value / this.max * 100).toFixed(0) + '%';
            },
          },
          type: "linear",
          display: true,
          position: "left",
          gridLines: {
            drawOnArea: false,
          },
        }
      },
      maintainAspectRatio: false,
    }
  });
</script>
