$color-black: #414141;
$color-blue: #1F78FF;
$color-orange: orange;
$color-green: #26bd50;
$color-purple: #7B4EFA;
$color-white: white;
$color-grey: #5E6469;
$color-red: #ff6961;
$color-light-grey: #e8e8e8;

.color-orange {
  color: $color-orange;
}

.color-red {
  color: $color-red;
}

.color-blue {
  color: $color-blue;
}
